*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.classpath
.cproject
.gdb_history
.gdbinit
.gn
.metadata
.project
.pydevproject
.settings
.sw?
/Makefile
/base
/build
/buildtools
/chrome
/chromium/.gclient.tmp
/chromium/.gclient.tmp_entries
/chromium/.last_sync_chromium
/chromium/src/
/crypto
/dbus
/gin
/google_apis
/ipc
/jingle/BUILD.gn
/jingle/DEPS
/jingle/OWNERS
/jingle/glue
/jingle/jingle.gypi
/jingle/jingle_nacl.gyp
/jingle/notifier
/links
/net
/out
/resources
/sdch
/sql
/testing
/url
/v8
/third_party/BUILD.gn
/third_party/android_testrunner
/third_party/android_tools
/third_party/appurify-python
/third_party/ashmem
/third_party/binutils
/third_party/boringssl
/third_party/colorama
/third_party/drmemory
/third_party/expat
/third_party/gflags/src/
/third_party/icu
/third_party/instrumented_libraries
/third_party/jsoncpp
/third_party/jsr-305
/third_party/libevent
/third_party/libjingle/source
/third_party/libjpeg
/third_party/libjpeg_turbo
/third_party/libsrtp
/third_party/libudev
/third_party/libvpx
/third_party/libxml
/third_party/libyuv
/third_party/llvm-build
/third_party/modp_b64
/third_party/ocmock
/third_party/openmax_dl
/third_party/opus
/third_party/pjsip/source/
/third_party/protobuf
/third_party/re2
/third_party/requests
/third_party/speex
/third_party/sqlite
/third_party/tcmalloc
/third_party/usrsctp
/third_party/webrtc/
/third_party/yasm
/third_party/zlib
/tools/android
/tools/clang
/tools/find_depot_tools.py
/tools/generate_library_loader
/tools/gn
/tools/grit
/tools/gyp
/tools/memory
/tools/protoc_wrapper
/tools/python
/tools/relocation_packer
/tools/swarming_client
/tools/valgrind
/tools/win
