*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.orig
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.classpath
.cproject
.gdb_history
.gdbinit
.gn
.metadata
.project
.pydevproject
.settings
.sw?
/Makefile
/apps
/ash
/base
/breakpad
/build
/build_overrides
/buildtools
/cc
/chrome
/chromium/.gclient_entries
/chromium/.gclient.tmp
/chromium/.gclient.tmp_entries
/chromium/.last_sync_chromium
/chromium/src/
/components
/content
/courgette
/crypto
/dbus
/device
/extensions
/gin
/google_apis
/gpu
/headless
/ipc
/jingle
/jingle/BUILD.gn
/jingle/DEPS
/jingle/glue
/jingle/jingle.gypi
/jingle/jingle_nacl.gyp
/jingle/notifier
/jingle/OWNERS
/links
/mash
/media
/mojo
/native_client
/native_client_sdk
/net
/out
/pdf
/ppapi
/printing
/remoting
/resources
/rlz
/sandbox
/sdch
/services
/skia
/sql
/storage
/testing
/third_party/adobe
/third_party/android_testrunner
/third_party/android_tools
/third_party/angle
/third_party/apple_apsl
/third_party/apple_sample_code
/third_party/appurify-python
/third_party/ashmem
/third_party/binutils
/third_party/boringssl
/third_party/brotli
/third_party/BUILD.gn
/third_party/cacheinvalidation
/third_party/catapult
/third_party/ced
/third_party/cld
/third_party/cld_3
/third_party/closure_compiler
/third_party/colorama
/third_party/decklink
/third_party/dom_distiller_js
/third_party/drmemory
/third_party/expat
/third_party/ffmpeg
/third_party/fips181
/third_party/flac
/third_party/flatbuffers
/third_party/freetype
/third_party/g729
/third_party/gflags/src/
/third_party/google_input_tools
/third_party/googletest
/third_party/google_toolbox_for_mac
/third_party/harfbuzz-ng
/third_party/hunspell
/third_party/iccjpeg
/third_party/icu
/third_party/inspector_protocol
/third_party/instrumented_libraries
/third_party/jinja2
/third_party/jsoncpp
/third_party/jsr-305
/third_party/khronos
/third_party/leveldatabase
/third_party/libaddressinput
/third_party/libdrm
/third_party/libevent
/third_party/libjingle/source
/third_party/libjingle_xmpp
/third_party/libjpeg
/third_party/libjpeg_turbo
/third_party/libphonenumber
/third_party/libpng
/third_party/libprotobuf-mutator
/third_party/libsecret
/third_party/libsrtp
/third_party/libudev
/third_party/libusb
/third_party/libva
/third_party/libvpx
/third_party/libwebm
/third_party/libwebp
/third_party/libxml
/third_party/libXNVCtrl
/third_party/libxslt
/third_party/libyuv
/third_party/llvm-build
/third_party/lzma_sdk
/third_party/mach_override
/third_party/markupsafe
/third_party/mesa
/third_party/modp_b64
/third_party/mojo
/third_party/molokocacao
/third_party/mozilla
/third_party/mt19937ar
/third_party/ocmock
/third_party/openmax_dl
/third_party/opus
/third_party/ots
/third_party/pdfium
/third_party/pjsip/source/
/third_party/protobuf
/third_party/pyftpdlib
/third_party/pywebsocket
/third_party/qcms
/third_party/re2
/third_party/requests
/third_party/sfntly
/third_party/skia
/third_party/smhasher
/third_party/snappy
/third_party/speech-dispatcher
/third_party/speex
/third_party/sqlite
/third_party/sudden_motion_sensor
/third_party/swiftshader
/third_party/tcmalloc
/third_party/tlslite
/third_party/usrsctp
/third_party/wayland
/third_party/WebKit
/third_party/webrtc/
/third_party/webrtc_overrides
/third_party/widevine
/third_party/woff2
/third_party/yasm
/third_party/zlib
/tools/android
/tools/battor_agent
/tools/clang
/tools/find_depot_tools.py
/tools/generate_library_loader
/tools/gn
/tools/grit
/tools/gyp
/tools/ipc_fuzzer
/tools/json_schema_compiler
/tools/json_to_struct
/tools/memory
/tools/perf
/tools/protoc_wrapper
/tools/python
/tools/relocation_packer
/tools/resources
/tools/swarming_client
/tools/valgrind
/tools/vim
/tools/win
/tools/xdisplaycheck
/ui
/url
/v8
